/* Body Styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Navbar Styles */
.navbar {
    background-color: red;
    margin-bottom: 0; /* Remove margin bottom */
}

.navbar .navbar-brand,
.navbar-nav .nav-link {
    color: white;
}

/* Set active link color */
.navbar-nav .nav-link.active {
    color: white !important;
}

/* Container Styles */
.container {
    padding: 20px; /* Reduce padding */
}

/* Corner scrollbar */
.container::-webkit-scrollbar {
    width: 0; /* Remove scrollbar */
}

/* Welcome Text Styles */
.hero h1 {
    text-align: center; /* Center align the welcome text */
    font-size: 36px;
    font-family: "Arial Black", Arial, sans-serif;
    margin-bottom: 20px; /* Reduce margin bottom */
}

/* Card Styles */
.option {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden; /* Ensure images don't overflow */
}

.option img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Rounded corners on top */
}

/* Description Styles */
.description {
    padding: 20px;
    background-color: #f8f9fa;
    color: black; /* Change text color */
    text-align: center;
}

/* Scrollbar Styles */
.container {
    overflow-y: hidden; /* Hide scrollbar */
    max-height: 500px; /* Adjust as needed */
}
